/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 全局样式开始 */
html,body{
    height: 100%;
}
body{
    color: #1b2a74;
    position: relative;
}
a:hover{
    text-decoration: none;
}
section{
    background-color: #fff;
}

/* 全局样式结束 */

/* 头部样式开始 */
.header{
  background-color: #1b2a74; 
  border-bottom: 5px solid #fff;
}
.header .navbar{
  padding: 18px 0 1px 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
}
.navbar-brand{
  width: 346px;
  height: 75px;
  padding-top: 0;
  padding-bottom: 1px;
}
@media screen and (max-width: 768px){
  .navbar-brand{
    width: 76%;
  }
  .navbar-brand img{
    margin-top: 10px;
    max-width: 100%;
  }
  .navbar-collapse .navbar-right{
    margin-top: 0;
  }
}
.navbar-right{
  margin-top: 25px;
}
.navbar-brand img{
  max-height: 100%;
}

.header .navbar-nav li{
  position: relative;
}
.header .navbar-nav li a,
.header .navbar-nav li a:hover,
.header .navbar-nav li a:focus{
  color: #fff;
}

.header .navbar-default .navbar-nav>.active>a,
.header .navbar-default .navbar-nav>.active>a:focus,
.header .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  color: #fff;
}
.header .navbar-default .navbar-nav>.active::after,
.header .navbar-default .navbar-nav>li:hover::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #fff;
  left: 0;
  bottom: -1px;
}
.header .navbar-toggle,.header .navbar-toggle:hover{
  background-color: transparent;
  margin-top: 20px;
  transition: 0.3s;
}
/* 头部样式结束 */

/* 轮播图开始 */
#banner{
  position: relative;
  padding-top: 99px;
}
#banner .swiper-slide::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
#banner .swiper-slide:nth-child(1){
    background: url(../img/banner1.jpg) no-repeat 30% center;
    background-size: cover;
}
#banner .swiper-slide:nth-child(2){
    background: url(../img/banner2.jpg) no-repeat 40% center;
    background-size: cover;
}
#banner .col-md-8 h3{
  font-size: 60px;
}
#banner .col-md-8 p{
  font-size: 24px;
}
#banner .col-md-8 a{
  font-size: 30px;
  color: red;
  line-height: 48px;
}
#banner .swiper-container {
  height: 755px;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide .container{
  position: relative;
  z-index: 2;
}
.swiper-slide .text_cont{
  position: absolute;
  top: 160px;
  left: 20px;
}
.text_cont h3{
  color: #fff;
  font-size: 60px;
}
.text_cont p{
  color: #fff;
  font-size: 24px;
}
.text_cont a{
  color: #fff;
  font-size: 30px;
  display: inline-block;
  padding: 2px 40px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-top: 16px;
  transition: 0.3s;
}
.text_cont a:hover{
  background: rgba(27,42,116,0.8);
}
#banner .swiper-pagination{
  width: 100%;
  bottom: 10%;
}
.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  margin: 0 6px;
}

/* 轮播图结束 */

/* 简介开始 */
#jianjie{
  background: #f6f6f6;
  padding-top: 110px;
}
#jianjie .container{
  padding-bottom: 110px;
  height: 100%;
  background: url(../img/jianjie_bg.png) no-repeat bottom center;
}
#jianjie h2{
  font-size: 36px;
}
#jianjie .container > p{
  font-size: 18px;
  line-height: 32px;
  margin-top: 28px;
}
#jianjie .container > .row{
  margin-top: 76px;
}
#jianjie .container > .row p{
  margin-top: 36px;
}
/* 简介结束 */

/* 源自开始 */
#source{
  padding-top: 110px;
}
#source .container{
  padding-bottom: 70px;
  border-bottom: 1px solid #ddd;
}
#source h2{
  font-size: 36px;
}
#source .col-md-10 p{
  font-size: 18px;
  line-height: 30px;
  margin-top: 26px;
}
#source .source_img{
  margin-top: 30px;
}
#source .source_cont{
  height: 405px;
  background: red;
}
#source .thumbnail{
  padding: 0;
  border: none;
  position: relative;
}
#source .thumbnail:hover::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(27,42,116,0.6);
}
#source .thumbnail .caption{
  width: 100%;
  padding: 9px 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,0.4);
}
#source .thumbnail .caption a{
  color: #fff;
  font-size: 16px;
}
#source .thumbnail img{
  width: 100%;
}
/* 源自结束 */

/* 教育方式开始 */
#education{
  padding-top: 42px;
}
#education .container{
  padding-bottom: 125px;
  background-size: 80% auto;
}
#education h2{
  font-size: 36px;
  line-height: 64px;
}
#education .container > p{
  font-size: 18px;
}
#education h2 + p + p{
  margin-bottom: 28px;
}
#education .education_list{
  transform: translate(0,-20px);
}
#education .thumbnail{
  padding: 0;
  border: none;
  background-color: #f6f6f6;
  position: relative;
}
#education img{
  max-width: 100%;
}
#education .education_list img {
  width: 100%;
}
#education h4{
  font-size: 20px;
  color: #1b2a74;
  margin-top: 13px;
}
#education h4 + p{
  font-size: 12px;
  line-height: 15px;
  color: #1b2a74;
}
#education .col-xs-3 img{
  width: 40px;
}
#education .education_hr{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 24px;
}
#education .guojia{
  line-height: 28px;
  margin-bottom: 0;
  font-size: 12px;
  color: #1b2a74;
}
/* 教育方式结束 */

/* 案例开始 */
#case{
  padding-top: 78px;
  background-color: #f6f6f6;
}
#case .container{
  padding-bottom: 90px;
}
#case .container h2{
  font-size: 36px;
  line-height: 46px;
  font-weight: 360;
  margin-bottom: 62px;
}
.modular{
  background: #fff;
  padding: 6% 0;
  border-radius: 48px;
}
#case .modular .row{
  padding-left: 15px;
  padding-right: 15px;
}
#case p span{
  color: #cd0303;
}
#case .col-xs-4 img{
  margin-bottom: 8px;
  max-width: 100%;
}
/* 案例结束 */

/* 四大不同开始 */
#dif{
  padding-top: 110px;
  background: #1b2a74;
}
#dif .container{
  padding-bottom: 70px;
}
#dif h2{
  font-size: 36px;
  color: #fff;
  margin-bottom: 56px;
}
#dif .swiper-slide{
  background-color: transparent;
}
#dif .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: -30px;
}
#dif .swiper-pagination{
  position: static;
}
#dif img{
  max-width: 100%;
}
/* 四大不同结束 */

/* 架构图开始 */
#framework{
  padding-top: 110px;
}
#framework .container{
  padding-bottom: 120px;
}
#framework h2{
  font-size: 36px;
  font-weight: 200;
}
#framework h2 span{
  font-weight: 400;
}
#framework h2 + p{
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  margin-top: 42px;
}
#framework .col-md-4{
  margin-top: 30px;
}
#framework .thumbnail_box{
  background-color: #f4f4f4;
  transition: 0.3s;
  border-radius: 0 0 10px 10px;
}
#framework .thumbnail_box:hover{
  transform: scale(1.02);
  box-shadow: 0px 5px 10px rgba(27,42,116,0.2);
}
#framework .thumbnail_box img{
  width: 100%;
}
#framework .center-block{
  max-width: 100%;
}
#framework .thumbnail{
  padding: 0;
  margin-bottom: 0;
  border: none;
  background: none;
}
#framework .thumbnail h3{
  font-size: 20px;
  color: #1b2a74;
  margin-top: 10px;
}
#framework .thumbnail h3 + p{
  font-size: 12px;
  color: #1b2a74;
}
#framework .thumbnail ol{
  font-size: 12px;
  color: #1b2a74;
  padding-left: 1em;
  margin-bottom: 0;
}
#framework .jiegou_item_line{
  margin: 8px 0;
}
#framework .thumbnail_box .btn-primary{
  height: 32px;
  margin-bottom: 18px;
  background-color: transparent;
  color: #1b2a74;
  border: 1px solid #1b2a74;
  transition: 0.3s;
}
#framework .thumbnail_box .btn-primary:hover{
  background: #2338a1;
  color: #fff;
}
#pro{
  padding-top: 88px;
}
/* 架构图结束 */

/* 免费试课开始 */
#firtest{
  background-color: #647db7;
  padding-top: 110px;
}
#firtest .container{
  padding-bottom: 110px;
}
#firtest h3{
  font-size: 20px;
  color: #fff;
}
#firtest p{
  font-size: 14px;
  color: #fff;
}
#firtest input[type=text],#firtest input[type=number]{
  height: 52px;
  margin-bottom: 8px;
}
#firtest textarea{
  height: 136px;
  margin-bottom: 8px;
}
#firtest button[type=submit]{
  padding: 10px 60px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 22px;
  color: #1b2a74;
}
#firtest button[type=submit]:hover{
  background-color: #1b2a74;
  color: #fff;
  border: 1px solid transparent;
}
#firtest form{
  margin-top: 28px;
  margin-bottom: 28px;
}
#firtest img{
  border-radius: 10px;
  width: 100%;
}
/* 免费试课结束 */

/* 联系我们开始 */
#contact{
  background-color: #1b2a74;
  padding-top: 80px;
}
#contact .container{
  padding-bottom: 200px;
  color: #fff;
}
#contact h3{
  font-size: 16px;
}
#contact p{
  font-size: 12px;
  margin-bottom: 20px;
}
#contact input[type=email]{
  background-color: transparent;
  color: #fff;
  margin-bottom: 20px;
}
#contact .btn-default{
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 4px 6px;
  margin-bottom: 20px;
}
/* 联系我们结束 */

/* 返回顶部开始 */
#goTop{
  position: fixed;
  z-index: 999;
  right: 6%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
}
#goTop i{
  font-size: 18px;
  line-height: 40px;
}

/* 返回顶部结束 */